.footer {
  color: #545454;
  max-width: 880px;
}

.footer__text {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  margin: 67px 0 60px;
}

@media screen and (max-width: 1080px) {
  .footer {
    margin: 0.5vh 0 0.25vh 12vw;
  }
}

@media screen and (max-width: 430px) {
  .footer {
    margin: 0.5vh 0 0.25vh 12vw;
  }
}
