.header {
  margin-top: 45px;
  padding-bottom: 41px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 660px) {
  .header {
    width: 100%;
    margin: 28px 0 42px;
    padding-bottom: 0;
  }

  .header__logo {
    margin: 0px 167px 32px 27px;
    padding: 0;
    width: 126px;
  }
}
