.page {
  background-color: black;
  color: #fff;
  align-content: center;
  justify-content: center;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media screen and (max-width: 760px) {
  .page {
    margin: 0;
  }
  .page__content {
    margin: 0;
  }

  .page__section {
    max-width: 100%;
  }
}
