.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 51px;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

.profile__info {
  display: grid;
  grid-template-areas: "title button" "subtitle subtitle";
  grid-template-columns: minmax(auto, 373px) auto;
}

.profile__title {
  font-size: 42px;
  /*This is the font-size listed in the brief. Should I try to adjust this in some way? I notice when I remove the font-size designation using the DevTools, it all fits. This is of course because the font size is smaller. Should this be relative in some way? The notes on the TripleTen description of the project said not to us em/rem.*/
  line-height: 1.14;
  font-weight: 500;
  grid-area: title;
  max-width: 100%;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  /* I commented out the "hidden" property as I thought it made all the text cut off too soon. You mentioned this in your comment. I do notice that there is a gap between the profile title and the edit button, but I can't seem to see where it is coming from. There is no margin or padding on the element. When I put grid-gap:0; it doesn't fix it.*/
}

.profile__subtitle {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  grid-area: subtitle;
  margin: 0;
  max-width: 415px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  background: transparent url(../images/edit-inactive.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  border: 1px solid #fff;
  margin: 15px 0 9px 18px;
}

.profile__edit-button:hover {
  opacity: 60%;
}

.profile__add-button {
  background: transparent url(../images/add-inactive-vector.svg) center
    no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: 2px solid #fff;
  border-radius: 2px;
}

.profile__add-button:hover {
  opacity: 60%;
}

@media screen and (max-width: 1080) {
  .profile {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .profile__info {
    max-width: 60%;
    justify-content: center;
  }

  .profile__add-button {
    margin: 0;
    padding: 0;
    width: 100%;
    object-fit: initial;
  }
}

@media screen and (max-width: 760px) {
  .profile {
    flex-direction: column;
    justify-content: center;
  }

  .profile__info {
    max-width: 60%;

    /* I put this designation in order to center the contents and so that the edit button and profile__title would be closer together. I noticed that if I removed this designation, the text of the profile__title would assume a wide amount of space on either side (though it is not margin), and the edit button would be pushed way to the side. I do not know how to fix this. Please help. */
  }

  .profile__image {
    margin-right: 0;
  }

  .profile__title {
    font-size: 22px;
    line-height: 1.2;
    text-align: center;
    margin: 4vh 0 2vh;
  }

  .profile__subtitle {
    max-width: 100%;
    text-align: center;
    font-size: 14px;
    margin: 0 0 40px;
  }

  .profile__add-button {
    margin: 0;
    padding: 0;
    width: 90%;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
    margin-top: 5vh;
    margin-left: 2vh;
    padding: 0;
  }
}
